.sidebar {
  height: 1000px;
}
.border {
  border: 2px solid black;
}
.yellowish {
  background-color: #fdf6e3;
}
.well {
  background-color: #eee8df;
}
.list-group-item {
  background-color: #fdf6e3;
}
.list-group-item:hover {
  border: 5px solid #fdf6e3;
}
input {
  background-color: #fdf6e3;
}
* {
  font-family: 'Old Standard TT', serif;
}
.btn-warning {
  background-color: #fdf6e3;
  border: none;
  color: black;
}
